
body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
        font-size: 30px;
        margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}



a#btn_coke {
    display: inline-block;
    height: 80px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-top: 90px;
    padding: 17px 50px 0px 50px;
    background: linear-gradient(to left, #eb1414 50%, #fff 50%) right; /* https://stackoverflow.com/questions/17212094/fill-background-color-left-to-right-css */
    border: 2px solid #eb1414;
    color: #fff;
    font-size: 35px;
    font-family: cortado, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    transition: all .5s;
    background-size: 200%;
}

a#btn_coke:hover {
    /* background-color: #fff;
    border: 2px solid #000;
    color: #000; */
    /* background-color: #fff;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear; */
    color: #eb1414;
    background-position: left;
}

a#btn_apple {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;

    background: -webkit-linear-gradient(#C7D3DC,#e93574);  /* https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds */
    background: -moz-linear-gradient(#C7D3DC,#e93574);  
    background: -o-linear-gradient(#C7D3DC,#e93574);  
    background: linear-gradient(#C7D3DC,#e93574);  
    -webkit-transition: background 0.3s ease-out;  
    -moz-transition: background 0.3s ease-out;  
    -o-transition: background 0.3s ease-out;  
    transition: background 0.3s ease-out;  
    background-size:1px 200px;  
}

a#btn_apple:hover {
    background-position:200px; 
    background-color: #e93574;
}

a#btn_ibm {
    display: inline-block;
    height: 60px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-top: 95px;
    padding: 11px 30px 0 30px;
    background-color: #1343e3;
    color: #fff;
    font-size: 30px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
}

a#btn_ibm:hover {
    text-shadow: 0px 0px 6px #1343e3;
    background: repeating-linear-gradient( /* https://css-tricks.com/stripes-css/ */
        0deg,
        #1343e3,
        #1343e3 2px,
        #fff 2px,
        #fff 4px
    );
}

a#btn_nerf {
    display: inline-block;
    height: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: auto;
    margin-top: 95px;
    padding: 11px 40px 0 40px;
    background-color: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Bangers', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s;
    letter-spacing: 1.5px;
}

a#btn_nerf::before {
    content: "";
    display: block;
    height: 60px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    padding: 11px 80px 0 80px;
    background-color: #e34b13;
    transform: translate(-33%, -31%);
}

a#btn_nerf:hover {
    text-shadow: 0px 0px 20px #e36313;
}

@keyframes spin {
    from {transform:rotate(0deg) translate(-33%, -31%);}
    to {transform:rotate(360deg) translate(-33%, -31%);}
}

a#btn_nerf:hover::before {
    background-color: #069b30;
    transition: background-color 0.3s;
    /* display: block; */
    transform-origin: 20% 20%;
    animation-name: spin;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-direction: normal;
}

a#btn_nerf span {
    position: relative;
    z-index: 10;
}

a#btn_hd {
    display: inline-block;
    text-transform: uppercase;
    height: 43px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-top: 102px;
    padding: 5px 10px 0 10px;
    background-color: #e35c13;
    border: 3px solid #e35c13;
    color: #fff;
    font-size: 25px;
    font-family: 'arial narrow', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

a#btn_hd:hover {
    background-color: #000;
    border: 3px solid #e35c13;
    color: #e35c13;
}

a#btn_mk {
    display: inline-block;
    text-transform: uppercase;
    height: 84px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: auto;
    margin-top: 90px;
    padding: 8px 10px 0 10px;
    background-color: #000000;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #000;
    color: #fff;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

a#btn_mk:hover {
    background: radial-gradient(circle, #000 0%,#d89632 0);
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #d89632;
}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}

a#btn_ideo {
    display: inline-block;
    height: 84px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: auto;
    margin-top: 90px;
    padding: 15px 15px 0 15px;
    background-color: #1c739b;
    border: 3px solid #fff;
    color: #fff;
    font-size: 40px;
    font-family: 'Bodoni 72', serif;
    text-decoration: none;
    transition: all 0.4s;
}

a#btn_ideo span::after { /* https://stackoverflow.com/questions/28623446/hover-effect-expand-bottom-border */
    display:block;
    content: '';
    border-bottom: solid 3px #1c739b; 
    transform: scaleX(0);  
    transition: transform 150ms ease-in-out;
    transform-origin:  50% 50%;
}

a#btn_ideo:hover span::after {
    transform: scaleX(1);
}

a#btn_ideo:hover {
    background-color: #fff;
    border: 3px solid #1c739b;
    color: #1c739b;
}

a#btn_sardella {
    display: inline-block;
    text-transform: uppercase;
    height: 84px;
    box-sizing: border-box;
    border-radius: 20%;
    margin: auto;
    margin-top: 90px;
    padding: 8px 10px 0 10px;
    background-color: #0030ee;
    border: 3px solid #fff;
    box-shadow: 0 0 0 3px #0030ee;
    color: #fff;
    font-size: 40px;
    font-family: 'Fascinate Inline', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
    box-shadow: inset 0 0px 0 0 #006bee;
}

a#btn_sardella:hover { /* https://codepen.io/RazorXio/pen/gMaoOW */
    border: 3px solid #fff;
    box-shadow: inset 0 100px 0 0 #1ee1ee;
}

a#btn_craigslist {
    display: inline-block;
    height: 84px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 90px;
    padding: 8px 20px 0 20px;
    background-color: #6a07c1;
    border: 3px solid #fff;
    color: #fff;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    transition: all 0.3s;
    box-shadow: inset 0 0px 0 0 #006bee;
}

a#btn_craigslist:hover { 
    border: 3px solid #fff;
    box-shadow: inset 20px 20px 20px 50px #1f39fc;
}

a#btn_lyft {
    display: inline-block;
    height: 84px;
    box-sizing: border-box;
    border-radius: 42px;
    margin: auto;
    margin-top: 90px;
    padding: 2px 40px 0 40px;
    background-color: #d51bd5;
    color: #fff;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s;
    box-shadow: inset 0 0px 0 0 #006bee;
}

a#btn_lyft:hover { 
    background-color: #fff;
    color: #d51bd5;
    box-shadow: 0 2px 9px 2px #821082;
}

a#btn_samsung {
    display: inline-block;
    height: 84px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-top: 90px;
    padding: 22px 60px 0 60px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    transition: all 0.3s;
}

a#btn_samsung:hover { 
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,6d62d1+60,e5bc6b+100 */
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #000000 0%, #6d62d1 60%, #e5bc6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000000 0%,#6d62d1 60%,#e5bc6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000000 0%,#6d62d1 60%,#e5bc6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e5bc6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a#btn_army {
    display: inline-block;
    text-transform: uppercase;
    height: 50px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-top: 102px;
    padding: 5px 10px 0 10px;
    background-color: #000000;
    border: 3px solid #e6aa13;
    color: #fff;
    font-size: 25px;
    font-family: 'arial narrow', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

a#btn_army span {
    padding:  0 15px;
}

a#btn_army:hover {
    background-color: #000;
    border: 3px solid #e6aa13;
    box-shadow: 0px 3px #000;
}
@keyframes fade {
    from {opacity:0;}
    to {opacity:1;}
}

a#btn_army span::before, a#btn_army span::after {
    opacity: 0;
    content: '★';
}

a#btn_army:hover span::before, a#btn_army:hover span::after {
    animation: fade ease-in-out 0.2s;
    animation-iteration-count: 1;
    opacity: 1;
}

a#btn_npr {
    display: inline-block;
    height: 84px;
    text-transform: lowercase;
    letter-spacing: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    margin: auto;
    margin-top: 90px;
    padding: 0px 5px 0 12px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    /* transition: all 0.3s; */
}

a#btn_npr:hover { 
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6290c+0,f6290c+33,f16f5c+33,000000+34,000000+65,1f97c6+66 */
    background: #f6290c; /* Old browsers */
    background: -moz-linear-gradient(left,  #f6290c 0%, #f6290c 33%, #f16f5c 33%, #000000 34%, #000000 65%, #1f97c6 66%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f6290c 0%,#f6290c 33%,#f16f5c 33%,#000000 34%,#000000 65%,#1f97c6 66%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f6290c 0%,#f6290c 33%,#f16f5c 33%,#000000 34%,#000000 65%,#1f97c6 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#1f97c6',GradientType=1 ); /* IE6-9 */
}

a#btn_instagram {
    display: inline-block;
    /* height: 84px; */
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
    margin-top: 90px;
    padding: 0px 0px 7px 14px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    background: radial-gradient(ellipse farthest-corner at top right, #d402ff 1%,#ed02e5 21%,#ef017c 45%,#efe702 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    animation: colorChange 1s infinite alternate;
    transition: all 0.2s;
}

@keyframes colorChange { /* https://stackoverflow.com/questions/57218443/how-to-animate-a-radial-gradient-using-css */
    to {
      background-position: top left;
    }
}

a#btn_instagram:hover { 
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d402ff+1,ed02e5+21,ef017c+45,efe702+100 */
    /* background: radial-gradient(ellipse farthest-corner at left bottom, #d402ff 1%,#ed02e5 21%,#ef017c 45%,#efe702 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 0px 0px 25px 0px rgba(248, 129, 184, 0.75);
    color: rgb(161, 223, 214);
}