$max-content-width: 1280px;

$color-black: #000;
$color-dark-grey: #383838;
$color-maroon: rgb(125, 6, 6);

html {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

.navbar {
    width: 100vw;
    border-bottom: 1px solid $color-dark-grey;

    .navbar-wrapper {
        margin: auto;
        width: 95%;
        max-width: $max-content-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        // padding: 15px 0;

        a {
            text-decoration: none;
        }

        .logo {
            box-sizing: border-box;
            a {
                color: $color-black;
                font-size: 2em;
            }
            padding: 15px 0;
        }

        .links {
            box-sizing: border-box;
            a {
                letter-spacing: 1.5px;
                font-size: 0.8em;
                text-transform: uppercase;
                // margin: 15px 15px;
                padding: 15px;
                padding-bottom: 19px;
                color: $color-dark-grey;
            }
            .active {
                border-bottom: 6px solid $color-maroon;
            }
        }

    }
}

img {
    width: 100%;
}

.container {
    max-width: $max-content-width;
    margin: auto;
    // display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 95%;
    margin: auto;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.col-4 {
    box-sizing: border-box;
    width: 33.333332%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.col-6 {
    box-sizing: border-box;
    width: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.col-8 {
    box-sizing: border-box;
    width: 66.666667%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.col-12 {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.offset-2 {
    margin-left: 16.666667%;
}

.heading {
    width: 95%;
    margin: auto;
    align-items: center;
    .left-text {
        text-align: left;
        .name {
            width: 100%;
            font-size: 4em;
            font-weight: bold;
        }
        .subheading {
            font-size: 1.83em;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .paragraph {
            font-size: 1.2em;
            line-height: 1.4em;
        }
    }
}

.page-content {
    h1 {
        font-size: 4em;
        margin-bottom: 10px;
    }
    .horizontal-divider {
        height: 7px;
        background-color: $color-maroon;
    }
    .text {
        font-size: 1.3em;
    }
    .written-content {
        margin-top: 2.5em;
    }
}