body {
    margin: auto;
    width: 90%;
    max-width: 800px;
}

#fixed-size-grid-items ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#fixed-size-grid-items li aside {
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
}

#stretchable-grid-items ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem -10px;
}

#stretchable-grid-items li {
    width: 100%;
}

#stretchable-grid-items li aside {
    margin: 10px;
    font-size: 0.8rem;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

@media (min-width: 480px) {
    #stretchable-grid-items li {
        width: 50%;
    }
}

@media (min-width: 640px) {
    html {
        background-color: #eaf6ff;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    #stretchable-grid-items li {
        width: 25%;
    }
}