body {
    margin: 0;
}

.header {
    background-color: #000;
    display: flex;
    align-items: center;
    color: #fff;
}

.album-art {
    width: 30vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-art img {
    width: 250px;
    height: 250px;
}

.song-details-container h1 {
    font-family: 'Electrolize', sans-serif;
    letter-spacing: 0.06em;
    color: #ec8255;
}

.song-details-container h2 {
    font-family: 'Public Sans', sans-serif;
    letter-spacing: 0.04em;
    font-weight: normal;
    color: #ddd;
}

.video-container {
    padding: 30px 0;
    text-align: center;
    background-color: #fff;
}

.lyrics-container {
    width: 95%;
    max-width: 800px;
    margin: auto;
    line-height: 1.6em;
    font-size: 1.2em;
}

.lyrics-container pre {
    font-family: 'Public Sans', sans-serif;
    margin-top: 0;
    white-space: pre-line;
}

.verse-label {
    font-style: italic;
    font-family: 'Electrolize', sans-serif;
    letter-spacing: 0.04em;
    margin-top: 40px;
    margin-bottom: 8px;
    color: #4d4d4d;
}

.hook, .hook-label {
    margin-left: 40px;
}

.hook {
    font-style: italic;
}